<!-- Profile Page -->

<div class="container">
  <div class="boardcontainer col-xs-12 col-sm-6">
    <div class="face"><% if @user.avatar_file_name == nil %>
            <%= image_tag("missing.png", :alt => "it's missing") %>
          <% else %>
            <%= image_tag @user.avatar.url(:thumb) %>
          <% end %>
    </div>
    <div class="text">
      <h1 class="headline"><%= @user.username %></h1>
      <p class="buttons"><% if current_user && current_user.id == @user.id %>
        <button type="button" id="editprofile" class="btn"><span class=""><%= link_to 'Edit', edit_user_path %></span></button>
        <button type="button" id="editprofile" class="btn"><span class=""><%= link_to 'Delete', delete_path %></span></button>
      <% else %>
        <%- unless current_user.followed_users.exists?(id: @user.id) -%>
          <button type="button" class="btn"><%= link_to 'Follow', followed_users_path(user_id: @user), method: :post %> </button>
        <%- else -%>
          <button type="button" class="btn"><%= link_to 'Unfollow', followed_user_path(@user), method: :delete %> </button>
        <%- end -%>
      <% end %></p>
    </div>
  </div>
</div>
<div class="container">
  <br><br>
  <div class="boardcontainer col-xs-12 col-sm-6">
    <div class="boardholder">
        <h3>Boards</h3>
        <% @user.boards.each do |board| %>
        <ul>
          <li><%= link_to(board.title, board_path(board.id)) %></li>
        </ul>
        <% end %>
      <% if current_user && current_user.id == @user.id %>
        <button type="button" id="boards" class="btn" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><%= link_to 'New Board', new_board_path %></button>
      <% end %>
    </div>
  </div>
</div>
