<div><%= @board.title %></div>
<div><%= @board.description %></div>
<div>
  <% @board.images.each do |image| %>
    <div><%= image_tag(image.url, size: "300x300", alt: "mood board image") %></div>
  <% end %>
</div>
<p>
  <% if current_user && current_user.id == @user.to_i %>
  <button type=""><%= link_to 'Upload Images', addimage_path %></button>
    <button type=""><%= link_to 'Edit', edit_board_path %></button>
    <button type=""><%= link_to 'Delete', delete_path %></button>
  <% else %>
    <button type=""><%= link_to 'Favorite', favorite_boards_path %></button>
  <% end %>
</p>


